<body id="body">
	<form action="/login" method="POST"> 
		
		<div class="mb-3">
			<label for="e-mail" class="form-label">E-mail</label>
			<input type="text" name="email" class="form-control placeholder="Informe aqui o seu e-mail"> 
		</div>
		<div class="mb-3">
			<label for="senha" class="form-label">senha</label>
			<input type="password" name="senha" class="form-control placeholder="Informe aqui a sua senha"> 
		</div>
		<div class="mb-3">
			<button type="submit">Login</button> 
		</div>
	</form>
</body>

	